* {
  box-sizing: border-box;
  font-family:  Helvetica Neue, Helvetica, sans-serif;
  color: grey;
  font-size: 0px;
}

img {
  width: 100%;
  display: block;

}
div p {
  font-size: 15px;
}
div p strong {
  font-size: 15px;
}
input#search {
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    text-indent: 20px;
}
#app-container {
  max-width: 960px;
  align-items: center;
  margin: 0 auto;
}
h1 {
  font-size: 100px;
}
.logo-container img {
  width: 200px;
}
.footer {
  font-size: 12px;
}

  @media screen and (min-width: 768px){
      .images-in-grid{
        display: inline-block;
        width: 29%;
      }

      .nav-reg {
        display: inline-block;


      .top-text {
          float: left;

        }
      .menu-button {
          float: left;

      }
      .logo-container {
        padding-right: 550px;
      }
      .thick-text {
        padding-right: 10px;
      }


      }
  }

  @media screen and (min-width: 1024px){
    .images-in-grid {
      display: inline-block;
      width: 24%;
    }
    .nav-reg {
      display: inline-block;

    }
    .top-text {
      float: left;
    }

    .logo-container {
      padding-right: 670px;
      float: left;
    }
    .thick-text {
      padding-right: 10px;
    }

  }

  @media screen and (max-width: 768px){

    .logo-container img {
      display: block;
      margin:auto;
    }
    .nav-mobile {
      display: block;
      text-align: center;
    }

    .images-in-grid {
      display: inline-block;
      width: 49%;
    }
  }
